body{
    margin:0;
    font-family: 'Poppins', sans-serif;
}
section{
    height: 500px;
}
h1{
    font-size: 50px;
}
.name-color{
    color: orange;
}
.half-width{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}
.half-width img{
    width: 100%;
}
.top-banner{
    background-repeat: no-repeat;
    background-image:url("img/top-banner.png");
}